body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(/Content/images/images.jpg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.post>h2, .post>div {
   /* background: rgba(0,255,0,0.3);*/
    padding: 10px;
    margin: 0;
}
 
.post>h2 {
    margin-top: 20px;
}
footer {
    text-align: center;
}
footer img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}


label.tog > input{
    display:none;
}
label.tog > span{
    margin-left: 10px;
	display:inline-block;
	width:30px;
	height:30px;
	background: url("/Content/images/like.png") no-repeat 50% 50% / cover;
}
label.tog > span:hover {
    cursor: pointer;
}
label.tog > input:checked + span{
	background-image: url("/Content/images/ball.png");
}
label.tog >a {
    margin-left: 30px;
}
label.tog > a > img {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    border: none;
}


.native-hidden {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.navbar {
    background-image: url(/Content/images/images1.jpg);
    background-repeat: repeat-x;
    
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #ffff00;
}
.body-content {
    background: rgba(0,0,0,0.6); 
    color: white;
}
.table:last-of-type td>a {
    color: #ffffe0;
}
.container:first-of-type p>a {
    color: #ffffe0;
}
.table>tbody {
    background: rgba(0,255,0,0); 
}
.container:last-of-type a {
    color: #ffffe0;
}
select {
    color: black;
}
audio {
    margin-top: 10px;
}
aside {
    float: right;
    
    width:300px;
    background: rgba(132, 100, 132, 0.3);
    padding: 15px;
    margin-left: 20px;
    border-radius: 4px;
    font-size: 1.2em;
}

.text-danger {
    color: #ff0000;
}



   
