
form{
    border: 1px solid gray;
    background-color: #FAFAFA;
    width: 80%;
    margin: auto;
    padding: 30px;
}

.formfield * {
    vertical-align: middle;
    margin-left: 8px;
}
h2,p:first-of-type{
    margin-left: 30px;
}
p:first-of-type{
    font-weight: bold;
}
input[type=text], input[type=email],select,textarea{
    width: 70%;
}
input[type=text], input[type=email],select,input[type=submit]{
    height: 25px;
}
select{
    margin-left: 25px;
    height: 35px;
}
input[type=submit]{
    width: 230px;
    margin-left: 80px;
    background-color: orange;
    color: white;
    height: 40px;
    border-radius: 10px;
}