@media all and (max-width: 992px) {

}

@media all and (max-width: 769px) {
    .message_btn {
        display: none;
    }

    .contact_socail_bookmark {
        display: none;
    }
    .single_copyirgth ul{
        display: none;
    }
}